@media screen and (max-width: 992px){
    .containerNosotros{
        &__serviciosPadre{
            display: grid;
            grid-template-columns: 1fr;
        }
        &__serviciosHijo{
            display: flex;
            flex-direction: column;
            grid-gap: 1rem;
            justify-content: space-between;
            align-items: center;
                img{
                    max-width: 290px;
                    max-height: 290px;
                }
        }
    }
    .containerStaff{
        &__serviciosPadre{
            display: grid;
            grid-template-columns: 1fr;
        }
        &__serviciosHijo{
            display: flex;
            flex-direction: column;
            grid-gap: 1rem;
            align-items: center;
            margin: 20px 0;
                img{
                    max-width: 290px;
                    max-height: 290px;
                    border-radius: 150px;
                }
        }
    }
}

@media screen and (min-width:768px) {
    .hero-banner-img {
      height: 100%;
      position: absolute;
    }
  }

  @media screen and (min-width: 1280px) {
    .content-block-1 .pb-card {
      height: 26rem;
    }
}

@media screen and (max-width:992px) {
    .containerRutinas{
        background-color: black;
        &__titulo{
            font-size: 60px;
        }
        &__serviciosPadre{
            display: grid;
            grid-template-columns: 1fr;
        }
        &__serviciosHijo{
            display: flex;
            flex-direction: column;
            grid-gap: 1rem;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 20px;
            h6{
                color: white;
                font-weight: 750;
            }
            img{
                max-width: 290px;
                max-height: 290px;
            }
            img:hover{
                cursor: pointer;
            }
        }
    }
}


@media all and (max-width:992px){
    .containerRecetas{
        &__serviciosPadre-recetas{
            display: grid;
            grid-template-columns: 1fr;
        }
        &__serviciosHijo-recetas{
            display: flex;
            flex-direction: column;
            grid-gap: 1rem;
            justify-content: space-between;
            align-items: center;
                img{
                    max-width: 290px;
                    max-height: 290px;
                }
        }
    }

    .Recetas{
        display: grid;
        grid-template-columns: 1fr;
        background-color: #25013d;
        article{
            height: 100px;
            background-color: #88bd0d;
            margin-bottom:100px;
            align-items: center;
        }
        p{
            align-items: center;
        }
        
    &__articuloIzq {
        text-align: center;
        img{
            padding-right: 30px;
            margin-left: 2%;
        }
    }
    
    &__articuloDer {
        text-align: center;
        img{
            float: right;
            padding-left: 30px;
            margin-right: 2%;
        }
    }
    }
    
}


@media screen and (max-width: 600px){
    .containerTips{
        &__serviciosPadre{
            display: grid;
            grid-template-columns: 1fr;
        }
        &__serviciosHijo{
            display: flex;
            flex-direction: column;
            grid-gap: 1rem;
            justify-content: space-between;
            align-items: center;
                img{
                    max-width: 290px;
                    max-height: 290px;
                }
        }
    }
}