$color-principal: #88bd0d;
$color-rutinas: #6cdabe;
$color-texto-principal: rgb(126, 126, 126);
$color-texto-secundario: black;
$borde-principal: black;
$color-secundario: #30e4b4;
$map: (key1: value1, key2: value2, key3: value3);
$colors: (
    mail: blue,
    tel: lightblue
);