@import "./partials/variables";
@import "./partials/fuentes";
@import "./partials/queries";
@each $nombre-foto in friends, bannerRecetas, rosa{
    .#{$nombre-foto}-each{
        background-image: url("../Img/VARIOS/#{$nombre-foto}.png");
    }
} //lo intente y no me salio.


/*INDEX*/

body{
    background-color: rgba(245, 238, 238, 0.397);
}

h1 {
    color: $color-principal;
    font-size: ($letra*5)+7;
    text-align: center;
}

.nav-link {
    font-size: $letra*2;
}

.nav-link:hover {
    color: $color-principal !important;
    cursor: pointer;
    text-decoration: underline;
}

hr {
    opacity: 1 !important;
    height: 5px !important;
}

.hr-index {
    background: rgb(172,232,33);
    background: linear-gradient(90deg, rgba(172,232,33,1) 0%, rgba(159,218,24,1) 20%, rgba(136,189,13,1) 50%, rgba(159,218,24,1) 80%, rgba(172,232,33,1) 100%);
}

.text-center-h2 {
    padding-bottom: 40px;
    background-color: rgba(203, 248, 203, 0.178);

}

.hero { 
    background-image: url("../Img/varios/friends.jpg");
    height: 70vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    place-items: left;
    margin-top: 10px;
    h2{
        background-color: rgb(255, 81, 0);
        color: white;
        margin-left: 30px;
        margin-top: 30px;
    }
    p{
        font-weight: 700;
        background-color: white;
        color: rgb(255, 81, 0);
        width: 60%;
        margin-left: 30px;
    }
}

.carousel-inner {
    margin-top: 10px;
    p{
        color: black;
        font-size: 15px;
        font-weight: 500;
    }
}

.container{
    &__servicios{
        img{
            max-width: 290x;
            max-height: 290px;
        }
    }
}

.equipo {
    background-color: #85c434;
    p{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: 400;   
        color: $color-texto-secundario;
    }
}


.container{
    &__staff{
        img{
            max-width: 290px;
            max-height: 290px;
            border-radius: 150px;
        }
    }
}

.containerBeneficios{
    padding: 5px 20px 5px 20px;
    margin-top: 30px;
    h2{
        color: $color-principal;
        font-weight: 700;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    .titulo{
        color: $color-principal;
        font-weight: 400;
    }
}

.hero-banner-img {
    height: 250px;
    position: static;
}

.suplementos{
    background-color: $color-principal;
    margin: 0 0 20px 10px;
    padding: 10px;
    border-radius: 10px;
    h2{
        color:black;
        font-size: 40px;
        text-align: center;
    }
    p{
        color: white;
    }
    a{
        background-color: white;
        padding: 10px;
    }
    a:hover{
        cursor: pointer;
        color: $borde-principal;
        text-decoration: underline $borde-principal solid 1px;
    }
}

.logo {
    max-width: 80px;
    border: $borde-principal solid 2px;
}


.ml-5 {
    margin-left: 1rem;
}

/*RUTINAS*/

.h2Rutinas {
    color: $color-rutinas;
    font-size: ($letra*5)+7;
    text-align: center;
}

.hr-rutinas {
    background: #348F50;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #7ecae4, #90d3a4);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #9ad8ec, #84e9a3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.categorias {
    color: $color-secundario;
    p{
        font-size: $letra+8;
    }
}

p {
    color: $color-texto-principal;
}

.content-block-5 .swiper-slide {
    width: 242px !important;
}

.content-block-5 .swiper-button-next,
.content-block-5 .swiper-button-prev {
    top: 8px;
    height: 240px;
    padding: 0 20px;
}

.content-block-5 .swiper-button-next-gradient,
.swiper-button-prev-gradient {
    position: absolute;
    width: 100%;
    content: '';
    top: 0;
    left: auto;
    height: 250px;
}

.content-block-5 .swiper-button-next-gradient {
    right: 0;
}

.content-block-5 .swiper-button-prev-gradient {
    left: 0;
}

.content-block-5 .swiper-button-next > svg,
.content-block-5 .swiper-button-prev > svg {
    margin-top: 70px;
    margin-bottom: auto;
  }

  .content-block-1 .pb-card {
    height: 15rem;
  }

  .pb-card {
    background-color: rgba(0,0,0,0); 
    color: #00f8b6ff
  }

.overflow-hidden {
    overflow: hidden;
} 

/*sección 2*/

.containerRutinas{
    background-color: black;
    h2{
        color: $color-texto-secundario;
    }
    &__titulo{
        font-size: 60px;
    }
    &__servicios{
        h6{
            color: white;
            font-weight: 750;
            margin-top: 10px;
        }
        img{
            max-width: 290px;
            max-height: 290px;
        }
        img:hover{
            cursor: pointer;        
        }
    }
    &__servicios:hover{
        cursor: pointer;
        text-decoration: underline solid white 2px;
    }
}

/*RECETAS*/

.bannerRecetas {
    background-image: url(../Img/RECETAS/bannerRecetas.jpg);
    padding: 2% 0;
    margin: 1% 1.5%;  
    text-align: center;
    border-radius: 10px;
    &__titulo{
        font-size: $letra*4;
        color: rgb(45, 112, 109);
    }
}

.text-center-h2-recetas {
    padding-bottom: 40px;

}

.containerRecetas{
    &__serviciosPadre-recetas{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    &__serviciosHijo-recetas{
        display: flex;
        flex-direction: column;
        grid-gap: 1rem;
        justify-content: space-between;
        align-items: center;
            img{
                max-width: 290px;
                max-height: 290px;
            }
    }
}
 

.Recetas {
    width: 88%;
    padding: 1px;
    display: inline;
    article {
        height: 300px;
        font-size: $letra*2;
        font-family: 'Oswald', sans-serif;
        color: rgb(17, 141, 141);
        margin-bottom: 110px;
    }
    p{
        text-align: justify;
        font-size: $letra*2.5;
    }
    img{
        border-radius: 5px;
        width: 450px;
        height: 300px;
    }
    h3:hover{
        text-decoration: underline rgb(17, 141, 141) 2px;
        cursor: pointer;
    }
    &__articuloIzq {
        text-align: left;
        margin-right: 20%;
        img{
            float: left;
            padding-right: 30px;
            margin-left: 2%;
        }
    }
    
    &__articuloDer {
        text-align: right;
        margin-left: 20%;
        img{
            float: right;
            padding-left: 30px;
            margin-right: 2%;
        }
    }
}

/*TIPS*/

.scroll-container {
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 50%;
    height: 200px;
    overflow-y: scroll;
    scroll-behavior: smooth;
    background-color: #0000000e;
    margin-top: 20px;
    &__article{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40%;
        font-size: ($letra*2)+3;
        margin-bottom: 60px;
        margin-top: 50px;
        color: #25013d;
    }
}

.containerTips{
    &__serviciosPadre{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr 1fr;
    }
    &__serviciosHijo{
        display: flex;
        flex-direction: column;
        grid-gap: 1rem;
        justify-content: space-between;
        align-items: center;
            img{
                max-width: 290px;
                max-height: 290px;
            }
        margin: 10px;
    }
}

/*TIENDA*/

.hr-tienda {
    background: #f953c6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #b91d73, #f953c6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #b91d73, #f953c6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
}

.bannerTienda { 
    background-image: url("../Img/varios/rosa.png");
    height: 70vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    place-items: center;
    margin-top: 10px;
    h2{
        color: rgb(251, 255, 0);;
        margin-left: 30px;
        margin-top: 30px;
        font-size: 50px;
    }
    p{
        font-weight: 700;
        background-color: white;
        color: rgb(251, 255, 0);
        width: 60%;
        margin-left: 30px;
    }
}

.containerTienda{
    margin-top: 40px;
    &__serviciosPadre{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    &__serviciosHijo{
        display: flex;
        flex-direction: column;
        grid-gap: 1rem;
        justify-content: space-between;
        align-items: center;
            img{
                max-width: 290px;
                max-height: 290px;
            }
    }
    &__serviciosHijo:hover{
        cursor: pointer;
    }
}

.productosTienda { //en desuso por el momento.
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3 1fr);
    column-gap: 50px;
    row-gap: 20px;
    height: 100%;
    width: 80%;
    margin: 40px auto 20px auto;
    text-align: center;    
    article{
        border: solid $borde-principal 2px;
        justify-items: center;
    }
    &__img{
        width: 300px;
        height: 300px;
        padding-top: 20px;
    }
    p{
        font-size: $letra*2;
        font-weight: bold;
    }
    &__precio{
        font-size: $letra*3;
        border: solid 1px $borde-principal;
        margin: 0 10px;
    }
}

/*FOOTER*/

.footer{
    &__logo{
        max-width: 80px;
        border: $borde-principal solid 2px;
    }
    &__conoce{
        color: $color-texto-secundario;
        font-size: ($letra*2)+5;
        font-weight: 50;
        float: right;
    }
    h4{
        text-align: center;
        font-weight: 50;
    }
}

.comparteRedes {
    font-size: 150%;
    margin: 0 0 15px;
}

a {
  color: inherit;
  text-decoration: none;
}
.containerFooter {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 20vh;
  float: left;
}

.btn {
  background-color: $color-principal;
  padding: 1em 1.5em;
  border-radius: 1rem;
}
.modal-window {
	position: fixed;
	background-color: rgba(255, 255, 255, 0.25);
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1;
	visibility: hidden;
	opacity: 0;
	pointer-events: none;
	transition: all 0.3s;
}
.modal-window:target {
	visibility: visible;
	opacity: 1;
	pointer-events: auto;
}
.modal-window  > div {
	width: 400px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	 padding: 2em;
	 background: #fff;
	 -webkit-box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.75);
		-moz-box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.75);
		box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.75);
}
.modal-close {
  color: #aaa;
  line-height: 50px;
  font-size: 80%;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 70px;
  text-decoration: none;
}
.modal-window div:not(:last-of-type) {
  margin-bottom: 15px;
}
small {
  color: lightgray;
}